onBoard/.vs/*
onBoard/onBoard/bin/*
onBoard/onBoard/obj/*
onBoard/onBoard/obj/Debug/*
onBoard/.vs/onBoard/*


onBoard/onBoard/obj/Debug/net6.0/onBoard.assets.cache
*.cache
onBoard/onBoard/obj/Debug/net6.0/onBoard.GeneratedMSBuildEditorConfig.editorconfig
onBoard/.vs/onBoard/v17/.suo
