onBoard/.vs/*
onBoard/onBoard/bin/*
onBoard/onBoard/obj/Debug/*
onBoard/.vs/onBoard/*
onBoard\onBoard\obj\*
*.[oa]


onBoard/onBoard/obj/Debug/net6.0/onBoard.assets.cache
*.cache
onBoard/onBoard/obj/Debug/net6.0/onBoard.GeneratedMSBuildEditorConfig.editorconfig
onBoard/.vs/onBoard/v17/.suo
onBoard/onBoard/obj/Debug/net6.0/onBoard.assets.cache
onBoard/onBoard/obj/Debug/net6.0/onBoard.GeneratedMSBuildEditorConfig.editorconfig
onBoard/onBoard/obj/onBoard.csproj.nuget.dgspec.json
onBoard/onBoard/obj/onBoard.csproj.nuget.g.props
onBoard/onBoard/obj/project.assets.json
onBoard/onBoard/obj/project.nuget.cache
