@model onBoard.Models.User

@{
    ViewData["Title"] = "Create";
}

<h1>Here is the button</h1>

@*@if( @ViewData["Hour"] != null)
{
    <p> User pressed the button at</p>
    <input id="Hour"  name="Hour" type="text" value="Hour: @ViewData["Hour"]"   disabled/>
    <input id="Minute"  name="Minute" type="text" value="Minutes: @ViewData["Minute"]"  disabled/>
    <input id="Second"  name="Second" type="text" value="Seconds: @ViewData["Second"]"  disabled/>
}*@
<input id="hora"  name="Hour" type="text" disabled/>
<input id="minuto"  name="Minute" type="text" disabled/>
<input id="segundo"  name="Second" type="text" disabled/>
@*<input id="errMsg"/>*@

<div class="row">
    <div class="col-md-4">
        <form asp-action="GetHour">
            <div class="form-group">
                <input type="button" onclick="getHour()" value="Button" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Hour Page</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
}

<script>    
    window.DEBUG = true; 
    function getHour(){
        
        $.ajax({
            url: "/Users/GetHour",
            method: "GET",
            dataType: "json"
        }).done(function(res) {
            console.log(res);
            $("#hora").val(res.hours);
            $("#minuto").val(res.minutes);
            $("#segundo").val(res.seconds);
        }).fail(function(res) {
            $("#errMsg").html("<strong>Somethign went wrong!</strong>")
        })
    }
</script>
