@model onBoard.Models.User

@{
    ViewData["Title"] = "Create";
}

<h1>Here is the button</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="GetHour">
            <div class="form-group">
                <input type="submit" value="Button" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Hour Page</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}