@model IEnumerable<onBoard.Models.Hour>

@{
    ViewData["Title"] = "Horas";
}

<h1>Horas Registradas</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourPressed)
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr> 
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HourPressed)
            </td>
        </tr>
    }
    </tbody>
</table>